// banner //

.banner {
    background-position: center center !important;
    background-size: cover !important;
    position: relative;
    padding-top: 30px;
    z-index: 2;

    .column-66,
    .column-50 {
        display:block;

        &.featured {
            background:$white;
            padding:3% 4%;
            box-sizing: border-box;
            width:50%;

            @include respond(tab-port) {
                width:100%;
                margin-top: 50px;
            }

            @include respond(phone) {
                padding:40px;
            }

            p {
                color:$blk !important;
                max-width: 100%;
                margin-bottom: 0;

                &.notable {
                    font-size: 14px;
                    font-weight: normal;
                    letter-spacing: 3px;
                    margin-bottom: 10px;
                    font-family: $pt_serif;
                    color: $seafoam !important;
                    font-size: 20px;
                }

                &.reviewer {
                    font-size: 14px;
                    font-weight: bold;
                    margin: 15px 0;
                    ////text-transform: uppercase;
                }
            }

            img {
                max-height: 40px;
            }
        }

        &.result {
            width:50%;

            @include respond(tab-port) {
                width:100%;
                margin-top: 50px;
                margin-bottom: 90px;
            }
            
            .result-main {
                background:$white;
                padding:5% 8%;

                p {
                    color:$blk !important;
                    max-width: 100%;
                    margin-bottom: 0;

                    &.notable {
                        font-size: 14px;
                        font-weight: normal;
                        letter-spacing: 3px;
                        margin-bottom: 10px;
                        font-family: $pt_serif;
                        color: $seafoam !important;
                        font-size: 20px;
                    }
                }

                h3 {
                    margin-top: 10px !important;
                    text-transform: none;
                    font-family: $pt_serif;
                    color:#0F3D62;
                    font-size: 28px;
                }
            }

            .accordions {
                border-bottom: none;
                position: absolute;
                width: 100%;
                background: $teal !important;

                &_title  {
                    padding: 0 30px;
                    height: 70px;
                    justify-content: flex-end;
                    align-items: center;
                    display: flex;
                    width: 100%;
                    box-sizing: border-box;

                    &.active {
                        span {
                            &::after {
                                rotate: 45deg;
                            }
                        }
                    }

                    p {
                        margin-bottom: 0;
                        display: flex;

                        span {
                            &::after {
                                content: "+";
                                display: inline-block;
                                transition: 0.2s linear;
                                font-size: 16px;
                                position: relative;
                                color: #fff;
                                font-size: 24px;
                                margin-left: 15px;
                                font-weight: bolder;
                                top:auto;
                                transition: $trans;
                            }
                        }
                    }
                }

                &_content {
                    display: none;
                    padding: 0px 8% 20px;
                    text-align: left;
                    width: 100%;
                    box-sizing: border-box;

                    p {
                        max-width: 100%;
                    }
                }
            }
        }
    }

    p#breadcrumbs {
        padding-top: 0;
        font-size: 12px;
        color:$white;
        font-weight: normal;

        @include respond (tab-land) {
            line-height: 200%;
            padding-bottom: 0;
        }

        .separator {
            margin: 0 5px 0 8px;
        }
    }

    h1 {
        text-transform: none;
        font-size: 60px;
        color:$white;
        line-height: 120%;

        @include respond(tab-land) {
            font-size: 54px;
        }

        @include respond(tab-port) {
            font-size: 40px !important
        }

        @include respond(phone) {
            font-size: 35px !important
        }
    }

    p {
        color:$white !important;
        max-width: 70%;

        @include respond (tab-land) {
            max-width: 100%;
        }

        &.cta {
            font-weight: $normal !important;
            letter-spacing: 0 !important;
            margin-bottom: 15px;
        }

        &.blog-date {
            margin-bottom: 10px;
        }
    }

    @include contact-block;

    .banner-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
            -o-object-position: right;
               object-position: right;
            width: 100%;

            @include respond(tab-land) {
                -o-object-position: center top;
                   object-position: center top;
            }
        }
    }

    .banner-gradient {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
    }
}

// awards //

.awards {
    padding: 50px 0;
    position: relative;
    margin-top: 60px;

    &::before {
        position: absolute;
        content: "Our Awards & Affiliations" !important;
        left: 50%;
        transform: translateX(-50%);
        top: -50px;
        font-family: $noto !important;
        font-style: italic;
        font-size: 20px !important;
        font-weight: $normal !important;
        white-space: nowrap;
        color: $teal;
        text-transform: capitalize !important;
    }
    
    .container {        
        margin: 0 auto;
        .columns {
            justify-content: center;
            
            .column-full {
                justify-content: center;
                align-items: center;

                @include respond(phone) {
                    flex-direction: column;
                }

                .award-img {
                    max-height: 100px;
                    max-width: 250px;
                    width: 100%;
                    height: auto;
                    margin:10px 20px;

                    @include respond(phone) {
                        margin:20px auto;
                    }
                }
            }
        }
    }
}

// sidebar //

.sidebar-block {
    @include respond(tab-port) {
        margin-top: 30px;
    }

    p.sidebar-more {
        transition:$trans;
        
        a {
            font-weight: 700;
            ////text-transform: uppercase;
            letter-spacing: 2px;
            text-decoration: none;
            font-size: 14px;
            color: #2a485a;

            &:hover {
                text-decoration: underline;
            }
        }

        span {
            rotate:-90deg;
            display:inline-block;
            font-size: 12px;
            margin-left: 5px;
            transition:$trans;
        }
    }
    

    .sidebar-spacer {
        height:1px;
        display: block;
        margin: 40px 0;
        width: 100%;
        border-bottom: 1px solid #b3eaea;
    }

    .sidebar-header {
        display: inline-block;
        font-size: 14px;
        font-family: 'Open Sans',sans-serif;
        font-weight: bold;
        padding: 10px 30px;
        margin-bottom: 20px;
        //text-transform: uppercase;
    }
    
    .testimonial-block {
        padding: 40px;
        box-sizing: border-box;
        border-bottom: solid 16px $green;
        @include respond(tab-land) {
            padding:30px;
        }

        p {
            margin-bottom: 0;
            font-size: 18px !important;
            //text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: $bold !important;
            font-family: $pt_serif !important;
            &.testimonial {
                font-size:20px;
                margin-bottom: 40px;
                font-weight: 300;
                line-height: 175%;
                letter-spacing: 0;
                text-transform: none;

                @include respond(tab-land) {
                    font-size: 20px;
                }
            }
        }
        p.sidebar-more a {
            text-decoration: underline !important;
        }
    }

    .result-block {
        p {
            &.large {
                margin-bottom: 10px;
            }

            &.result {
                margin-bottom: 0;
            }
        }
    }

    .sidebar-menu {
        .menu {
            list-style-type: none;
            margin: 0;

            li {
                margin: 0;
                border-bottom: 1px solid $green !important;
                position: relative;

                a {
                    display: block;
                    font-size: 16px;
                    padding: 10px 0;
                    line-height: 100%;
                    position: relative;
                    text-decoration: none;
                    max-width: 100%;
                    font-weight: 400;
                }

                &.current_page_item {
                    a {
                        font-weight: bold;
                    }
                }

                &:hover {
                    a {
                        text-decoration: underline;
                    }
                }

                .all-pages,
                .children {
                    display: none;
                }

                &::after {
                    content:"\e907";
                    font-family: $icomoon;
                    rotate:-90deg;
                    display:inline-block;
                    font-size: 12px;
                    margin-left: 5px;
                    position: absolute;
                    right:3px;
                    transition: $trans;
                    top:3px;
                }
            }
        }
    }
}

// practice area parent blocks 

#testimonial {
    
    p.testimonial-callout {
        font-size: 30px;
        font-family: $noto !important;
        font-weight: 600;
        line-height: 130%;
        color: $white !important;
        //text-transform: uppercase;
    }

    .author {
        display: flex;
        align-items: center;

        img {
            max-height: 35px;
        }

        .separator {
            width: 1px;
            height: 40px;
            margin: 0 20px;
            border-left: 1px solid $white;
        }

        p {
            margin-bottom: 0;
            //text-transform: uppercase;
            font-family: $noto !important;
            font-size: 16px !important;
        }
    }
}

#pre-footer {
    background: url('/wp-content/uploads/2025/05/AdobeStock_318663471@2x-scaled.jpg') no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    padding-bottom: 80px;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $teal;
        opacity: 0.75;
    }
    .column-75 {
        background: $white;
        margin: 0;
        padding: 75px 100px;
        @include respond(tab-port) {
            padding: 50px;
        }
        @include respond(tab-port) {
            padding: 30px;
        }
    }
    h2, h3, h4, p, ul li, ol li {
        color:$green;
    }

    h2 {
        font-size: 35px !important;
        letter-spacing: 2px;
        margin-top: 0 !important;
        text-align: left;
        @include respond(tab-port) {
            font-size: 30px !important;
        }

        @include respond(phone) {
            font-size: 25px !important;
        }
    }

    p {
        text-align: left;
        color: $blk !important;
        &.subhead {
            font-size: 28px;
            margin: 20px 0;
            font-family: 'Bitter', sans-serif;
            font-style: italic;
            font-weight: 300;
            line-height: 125%;
    
            @include respond(tab-port) {
                font-size: 24px;
            }
    
            @include respond(phone) {
                font-size: 20px;
            }
        }
    }

    .pre-footer-contact {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: flex-start !important;
        align-items: center;
        .contact-block-left {
            margin-right: 0px !important;
        }

        .contact-block-right {
            p {
                margin-bottom: 0;
                display: flex;
                align-items: center;
                
                a {
                    color:$blk !important;
                    text-transform: capitalize;
                    font-family: $pt_serif !important;
                    letter-spacing: 0 !important;
                    font-size: 16px !important;
                }

                span.icon-right-arrow {
                    margin-left: 10px;
                    font-size: 24px;
                    color: $green;
                }
            }
        }
    }
}

@include awards-slider;