body, html {
    scroll-behavior: smooth !important;
}

.body-container {
    margin-top: 135px !important;

    @include respond(tab-land) {
        margin-top: 115px !important;
    }
}

.grey-bg {
    background: $ltgrey;
}

.blue-bg {
    background: $ltblue;
}

.cta-block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    @include respond(tab-port) {
        padding: 50px 30px;
    }
    & > * {
        position: relative;
        z-index: 3;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $teal;
        opacity: 0.8;
        z-index: 2;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        -o-object-fit: cover;
           object-fit: cover;
    }
    .copy-wrapper {
        max-width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        @include respond(tab-land) {
            max-width: 100%;
        }
        h2, p, a:not(.btn) {
            color: $white !important;
        }
    }
}

.container {
    margin: 0 auto;
}

.reviews-wrapper {
    overflow-x: hidden;
    margin-top: 60px;
    .title-wrapper {
        border-bottom: solid 2px $ltblue;
        width: 78%;
        @include respond(tab-port) {
            width: calc(100% - 60px);
            margin: 0 auto 30px auto;
        }
        margin: 0 auto 50px auto;
        .reviews-title {
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            background: $ltblue;
            margin: 0;
            padding: 20px 30px 10px 30px;
            font-family: $noto !important;
            font-size: 30px;
            font-weight: $bold;
            //text-transform: uppercase;
            line-height: 100%;
        }
    }
    .reviews-slider {
        position: relative;
        left: 10%;
        @include respond(tab-port) {
            left: 0;
        }
        .slick-track {
            gap: 25px;
            display: flex;
            @include respond(tab-port) {
                gap: 0;
            }
        }
        .review {
            background: $ltgrey;
            padding: 20px 30px 100px 30px;
            position: relative;
            height: auto;
            @include respond(tab-port) {
                margin: 0 30px;
            }
            .copy {
                margin-top: 20px;
                p {
                    display: inline;
                }
            }
            .author {
                //text-transform: uppercase;
                font-weight: $bold;
                font-family: $noto !important;
                position: absolute;
                bottom: 30px;
                left: 30px;
                margin: 0;
            }
            .review-icon {
                max-width: 100px;
                position: absolute;
                bottom: 24px;
                right: 25px;
            }
        }
    }
    .btn-wrapper {
        margin-top: 30px;
        position: relative;
        left: calc(10% + 19px);
        display: flex;
        gap: 40px;
        justify-content: flex-start;
        align-items: center;
        @include respond(tab-port) {
            left: 30px;
        }
        .arrow-btn-wrapper {
            display: flex;
            gap: 20px;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            .review-arrow-btn {
                height: 40px;
                width: 40px;
                position: relative;
                cursor: pointer;
                &:after {
                    content: "\e900";
                    font-family: "Icomoon";
                    font-size: 26px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    background: $blk;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $white;
                    border-radius: 3px;
                    transition: $trans;
                }
                &.review-prev {
                    transform: rotate(180deg);
                }
                &:hover {
                    &:after {
                        background: $green !important;
                    }
                }
            }
        }
    }
}

.copy-wrapper {
    max-width: 70%;
    margin: 0 auto;
    @include respond(tab-port) {
        max-width: 100%;
    }
}

.posts-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr) !important;
    gap: 20px !important;
    margin-bottom: 50px !important;
    @include respond(desktop) {
        grid-template-columns: repeat(3, 1fr) !important;
    }
    @include respond(tab-land) {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    @include respond(tab-port) {
        grid-template-columns: 1fr !important;
    }
    .post {
        position: relative;
        height: -webkit-fit-content !important;
        height: -moz-fit-content !important;
        height: fit-content !important;
        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
        .img-wrapper {
            img {
                width: -webkit-fill-available;
                width: -moz-fill-available;
                width: -moz-available;
                width: stretch;
                max-width: 100%;
                ;
                height: 300px;
                -o-object-fit: cover;
                   object-fit: cover;
            }
        }

        .copy-wrapper {
            width: 100%;
            min-width: calc(100% - 60px);
            background: $teal;
            height: 350px !important;
            padding: 30px;
            position: relative;
            top: -3px;
            transition: $trans;
            @include respond(tab-port) {
                width: auto;
                min-width: unset;
            }
            p {
                color: $white;

                &.date {
                    font-weight: $normal;
                    //text-transform: uppercase;
                }

                &.title {
                    font-family: $noto !important;
                    font-size: 28px;
                    font-weight: $bold;
                }
            }
        }
        &:hover {
            .copy-wrapper {
                background: $green;
            }
        }
    }

    &.related-posts {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin-bottom: 50px;
        @include respond(tab-land) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include respond(tab-port) {
            grid-template-columns: 1fr;
        }
        .post {

            .copy-wrapper {
                top: 0;
                height: 100%;
                position: relative;
                padding: 50px 30px;
                &:hover {
                    .view-more {
                        border-color: $teal;
                        &:after {
                            background: $teal;
                        }
                    }
                }
                .type {
                    font-weight: $bold;
                }
                .title {
                    //text-transform: uppercase;
                }
                .view-more {
                    margin: 0 !important;
                    position: absolute;
                    bottom: 30px;
                    //text-transform: uppercase;
                    color: $blk !important;
                    background: $white;
                    padding: 10px 80px 8px 20px;
                    border: solid 4px $green;
                    font-family: $noto !important;
                    font-weight: $bold;
                    font-size: 16px !important;
                    border-radius: 0px 3px 3px 0px;
                    width: calc(100% - 168px);
                    transition: $trans;
                    &:after {
                        content: "\e900";
                        font-family: $icomoon;
                        font-size: 26px;
                        position: absolute;
                        right: -2px;
                        top: 0;
                        height: 100%;
                        width: 50px;
                        background: $green;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $white;
                        border-radius: 0px 3px 3px 0px;
                        transition: $trans;
                    }
                }
            }
        }
    }
}

.banner {
    h1 {
        font-family: $noto !important;
        //text-transform: uppercase;
        font-size: 50px !important;
    }
    .contact-block-left {
        .btn {
            background: $white !important;
            &:hover {
                background: $green !important;
            }
        }
    }
    .contact-block-right {
        a:not(.btn) {
            color: $white !important;
            font-family: $pt_serif !important;
            text-transform: capitalize !important;
        }
    }
    .banner-gradient {
        background: linear-gradient(90deg, rgba(43, 103, 119, 1) 50%, rgba(43, 103, 119, 0.66) 82%) !important;
        opacity: 1 !important;
    }
    .cta {
        font-family: $noto !important;
        font-style: italic;
    }
}

#breadcrumbs {
    span, a {
        font-family: $pt_serif !important;
        color: $white !important;
        font-size: 14px !important;
        text-decoration: none !important;
    }
    a {
        &:hover {
            text-decoration: underline !important;
        }
    }
}

.sidebar-block {
    .sidebar-header {
        background: $teal !important;
        font-family: $noto !important;
    }
}

.related-resources {
    padding: 80px 60px;
    @include respond(phone) {
        padding: 80px 30px;
    }
}

.pagination {
    .nav-links {
        .page-numbers {
            border-radius: 0px;
            text-decoration: none !important;
            color: $blk !important;
            font-family: $outfit !important;
            opacity: 0.4;
            font-size: 18px !important;
            &.current {
                background: none !important;
                opacity: 1;

            }
            &.prev, &.next {
                background: $blk !important;
                border-radius: 0 !important;
                opacity: 1;
                &:before {
                    content: "\e900" !important;
                    font-family: $icomoon !important;
                    background: $blk !important;

                }
            }
            &.prev {
                &:before {
                    transform: rotate(180deg);
                }
            }
        }
    } 
}

.gform_wrapper {
    background: $ltgrey !important;
    label, .gform_required_legend, .gfield_required_asterisk {
        color: $blk !important;
        font-family: $pt_serif;
        font-weight: $normal !important;
        font-size: 16px !important;
    }
    input[type="submit"] {
        padding: 17px 35px 14px 35px !important;
        transition: $trans;
        font-size: 16px !important;
        text-decoration: none !important;
        font-weight: $bold !important;
        font-family: $noto !important;
        color: $white !important;
        //text-transform: uppercase !important;
        cursor: pointer;
        border: solid 1px $green;
        &:hover {
            color: $green !important;
        }
    }
}

.icon-social-tiktok,
.icon-google {
    background: $blk;
    transition: $trans;
    display: block;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background: $green;
    }
    &:before {
        background: none;
        color: $white;
        border-radius: 50%;
        font-size: 16px;
    }
}

.social-link {
    height: 40px !important;
    width: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}