/**
 * Sass variables and functions.
 *
 * @package Postali Child
 * @author Postali LLC
 */

// Breakpoints
$desktop-full: 1920px;
$desktop-lg: 1400px;
$desktop: 1200px;
$tab-land: 1024px;
$tab-port: 820px;
$phone: 600px;

// Containers
$container-max-width: $desktop-lg;
$container-padding:30px;

// Transitions
$transition-speed:.3s;
$transition-fast:.3s ease-in-ease-out;
$transition-slow:.5s ease-in-ease-out;

// Core Colors
$blk: #07191C;
$white: #FFFFFF;
$ltgrey: #F7F7F7;
$grey: #cccdc9;
$dkgreen: #25393C;
$dkblue: #2c6777;
$teal: #437380;
$ltblue: #DBE6EF;
$seafoam: #238E6F;
$green: #238E6F;

$link-transition-speed: .15s;
$trans: 0.2s linear;

// Typography
$noto: 'Noto Serif', serif;
$lato: 'Lato', sans-serif;
$josefin: "Josefin Sans", sans-serif;
$outfit: 'Outfit', sans-serif;
$icomoon: 'Icomoon';

// Custom Typography
$pt_serif: 'PT Serif', sans-serif;

$body-line-height: 130%;

// Font Weight
$light: 100;
$normal: 400;
$medium: 500;
$bold: 700; 
$black: 900;
