/**
 * Sass variables and functions.
 *
 * @package Postali Child
 * @author Postali LLC
 */

// Breakpoints
$desktop-full: 1920px;
$desktop-lg: 1400px;
$desktop: 1200px;
$tab-land: 1024px;
$tab-port: 820px;
$phone: 600px;

// Containers
$container-max-width: $desktop-lg;
$container-padding:30px;

// Transitions
$transition-speed:.3s;
$transition-fast:.3s ease-in-ease-out;
$transition-slow:.5s ease-in-ease-out;

// Core Colors
$blk: #07191C;
$white: #FFFFFF;
$ltgrey: #F2F2F2;
$dkgreen: #25393C;
$dkblue: #2C6777;
$teal: #437380;
$ltblue: #DBE6EF;
$seafoam: #238E6F;
$green: #52AB98;

$link-transition-speed: .15s;
$trans: 0.2s linear;

// Typography
$lato: 'Open Sans', sans-serif;
$serif: 'Playfair Display', serif;
$icomoon: 'Icomoon';

$body-line-height: 130%;

// Font Weight
$normal: 400;
$bold: 700; 
$black: 900;
